*{
    font-family: 'Poppins', sans-serif;
    color: #454545;
    padding: 0;
    margin: 0;
}

body {
    background-color: #959595;
}

h1{
    margin: 5px;
}

.main-container{
    width: 60%;
    margin: 0 auto;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}